@model DoctorsViewModel

<h2>Add a New Doctor</h2>

<form asp-action="add_doctor" method="post">
    <div class="form-group">
        <label asp-for="DoctorOfVM.DoctorNameSurname" class="control-label">Doctor Name Surname</label>
        <input asp-for="DoctorOfVM.DoctorNameSurname" class="form-control" />
        <span asp-validation-for="DoctorOfVM.DoctorNameSurname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DoctorOfVM.DepartmentId" class="control-label">Department Name</label>
        <select asp-for="DoctorOfVM.DepartmentId" asp-items="Model.Departments" class="form-control">
            <option value="">--Select a Department--</option>
        </select>
        <span asp-validation-for="DoctorOfVM.DepartmentId" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>

<div>
    <a asp-action="list_doctor">Return to Doctor List</a>
</div>